<%= simple_form_for @document, :html => { :class => 'form-horizontal', :multipart => true } do |f| %>
  <ul id="myTab" class="nav nav-tabs">
    <li class="active">
      <a href="#text" data-toggle="tab">Text Input</a>
    </li>
    <li class="">
      <a href="#url" data-toggle="tab">URL to Crawling</a>
    </li>
    <li class="">
      <a href="#pdf" data-toggle="tab">Upload PDF</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="text" class="tab-pane active">
      <%= f.input :user_text, :label => "Input Text", :as => :text %>
    </div>
    <div id="url" class="tab-pane">
      <%= f.input :crawl_url, :label => "Input URL", :as => :string %>
    </div>
    <div id="pdf" class="tab-pane">
      <%= f.input :pdf, :label => "Input PDF File" %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, 'Submit', :class => 'btn btn-primary' %>
      <%= submit_tag 'Clear', :type => :reset, :class => 'btn btn-danger' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  documents_path, :class => 'btn btn-link' %>
    </div>
  </div>
<% end %>
